In [2]:
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure

In [5]:
client = MongoClient('localhost')

In [13]:
client.list_database_names()

['admin', 'business_verification', 'config', 'local', 'test_db']

In [16]:
db = client["test_db"]

In [17]:
db.list_collection_names()

['test_col']

In [18]:
col = db['test_col']

In [19]:
mydict = { "name": "John", "address": "Highway 37" }
x = col.insert_one(mydict)

In [20]:
x.inserted_id

ObjectId('5df875d2d4c40d46ca35fbcc')

In [21]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = col.insert_many(mylist)

In [22]:
x.inserted_ids

[ObjectId('5df87607d4c40d46ca35fbcd'),
 ObjectId('5df87607d4c40d46ca35fbce'),
 ObjectId('5df87607d4c40d46ca35fbcf'),
 ObjectId('5df87607d4c40d46ca35fbd0'),
 ObjectId('5df87607d4c40d46ca35fbd1'),
 ObjectId('5df87607d4c40d46ca35fbd2'),
 ObjectId('5df87607d4c40d46ca35fbd3'),
 ObjectId('5df87607d4c40d46ca35fbd4'),
 ObjectId('5df87607d4c40d46ca35fbd5'),
 ObjectId('5df87607d4c40d46ca35fbd6'),
 ObjectId('5df87607d4c40d46ca35fbd7'),
 ObjectId('5df87607d4c40d46ca35fbd8')]

In [23]:
col.find_one()

{'_id': ObjectId('5df083163f6d198050eab307'),
 'author': 'Mike',
 'text': 'something is here',
 'tags': ['first', 'second', 'third'],
 'address': 'new_street123',
 'amount': 45}

In [24]:
for x in col.find():
    print(x)

{'_id': ObjectId('5df083163f6d198050eab307'), 'author': 'Mike', 'text': 'something is here', 'tags': ['first', 'second', 'third'], 'address': 'new_street123', 'amount': 45}
{'_id': ObjectId('5df875d2d4c40d46ca35fbcc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5df87607d4c40d46ca35fbcd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5df87607d4c40d46ca35fbce'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5df87607d4c40d46ca35fbcf'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd0'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd1'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd2'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd3'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd4'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd5'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd6'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd7'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd8'), 'name': 'Viola', 'address': 'Sideway 1633'}

## Limit Columns/Keys

In [27]:
for x in col.find({}, {"_id":0, "name":1, "address":1}):
    print(x)

{'address': 'new_street123'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [29]:
for x in col.find({"address": "Park Lane 38"}):
    print(x)

{'_id': ObjectId('5df87607d4c40d46ca35fbd5'), 'name': 'Ben', 'address': 'Park Lane 38'}

## Regex Search

In [30]:
for x in col.find({"address": {"$regex": "^S"}}):
    print(x)

{'_id': ObjectId('5df87607d4c40d46ca35fbd2'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd8'), 'name': 'Viola', 'address': 'Sideway 1633'}

## Sort via name

In [33]:
for x in col.find().sort('name', -1):
    print(x)

{'_id': ObjectId('5df87607d4c40d46ca35fbd6'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd8'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd4'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd3'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd0'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd2'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df87607d4c40d46ca35fbcf'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5df875d2d4c40d46ca35fbcc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5df87607d4c40d46ca35fbce'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd7'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd1'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd5'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5df87607d4c40d46ca35fbcd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5df083163f6d198050eab307'), 'author': 'Mike', 'text': 'something is here', 'tags': ['first', 'second', 'third'], 'address': 'new_street123', 'amount': 45}

In [34]:
x = col.delete_one({"address": "Mountain 21"})

## delete collection

In [36]:
# col.drop()

## Update collection

In [39]:
myquery = { "address": { "$regex": "^P" } }
newvalues = { "$set": { "name": "Minn" } }

x = col.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

1 documents updated.

In [40]:
for x in col.find().limit(5):
    print(x)

{'_id': ObjectId('5df083163f6d198050eab307'), 'author': 'Mike', 'text': 'something is here', 'tags': ['first', 'second', 'third'], 'address': 'new_street123', 'amount': 45}
{'_id': ObjectId('5df875d2d4c40d46ca35fbcc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5df87607d4c40d46ca35fbcd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5df87607d4c40d46ca35fbcf'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5df87607d4c40d46ca35fbd0'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

## Find in nested objects

In [ ]:
{
    id:"",
    "comp":[
        {
            "score":12,
            "name":"Some",
            "id":23243
        },
        {
            "score":12,
            "name":"Come1",
            "id":232
        }
    ]
}

db.getCollection('comp').find({"comp.name":{"$regex":"^Some"}})

## Find substring

In [ ]:
# find the substring and and $i is for case insensitive
db.getCollection('comp').find({"comp.name":{"$regex":"and", "$options":"$i"}})

## Distinct entries

In [ ]:
# gives unique names of companies
db.getCollection('company_search').distinct("comp.name")